.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #003580;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}
.navButton:hover{
    background: #003580;
    color: #ffffff;
    border: 1px solid #86a6d7;
    
}